@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100 900;
  src: url("/Montserrat-VariableFont_wght.ttf") format("truetype");
}
* {
  font-family: Montserrat;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  position: relative;
  font-size: 14px;
  display: flex;
  justify-content: center;
  background-image: repeating-linear-gradient(
    90deg,
    #bbc8d7 0%,
    #bbc8d7 calc((100% - 480px) / 2),
    #fff calc((100% - 480px) / 2),
    #fff calc((100% - 480px) / 2 + 480px),
    #bbc8d7 calc((100% - 480px) / 2 + 480px),
    #bbc8d7 100%
  );
  color: #26323e;
}
main-content {
  display: flex;
  flex-direction: column;
  padding: 44px 40px 20px 40px;
  max-width: 480px;
  width: 100%;
}
a,
a:visited,
a:active {
  color: #26323e;
  font-weight: 500;
}
h2 {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
h2 button {
  margin-left: 5px;
}
h3 {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
audio,
p {
  margin-top: 10px;
}
p img {
  max-width: 100%;
  border-radius: 10px;
}
comment p img,
article[trimmed] p img {
  max-height: 100px;
}
comment p[img],
article[trimmed] p[img] {
  display: inline-flex;
}
comment p[img] + p[img],
article[trimmed] p[img] + p[img] {
  margin-left: 10px;
}
p[quote] {
  padding: 10px;
  border-left: 2px solid #999;
  background: #f5f5f5;
}
p[quote] + p[quote] {
  margin-top: 0;
}
p[bold] {
  font-weight: 600;
}
p[ellipsis] + button {
  margin-top: 10px;
}
audio {
  width: 100%;
}
ul {
  margin: 10px 0 0 17px;
}
debug {
  white-space: pre;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  right: 0;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 5px #26323e;
  z-index: 2;
}
header h1 {
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin: 0 20px;
}
header h1 img {
  height: 24px;
  width: 24px;
  margin-right: 5px;
}
hamburger {
  position: relative;
  height: 100%;
  width: 54px;
  padding: 10px 20px 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}
hamburger line {
  border: 1.5px solid #27323e;
  border-bottom-width: 1px;
  border-radius: 2px;
  width: 100%;
}
[unread]::before {
  content: "";
  position: absolute;
  top: calc(50% - 4px);
  left: -14px;
  background: #48c;
  border-radius: 50%;
  height: 8px;
  width: 8px;
}
menu-wrapper {
  position: fixed;
  top: 44px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}
menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  box-shadow: 0px 0px 5px #26323e;
  border-radius: 0 0 0 2px;
  z-index: 6;
  border-top: 1px solid #999;
}
menu::before {
  content: "";
  position: absolute;
  left: -20px;
  right: 0;
  top: -8px;
  height: 7px;
  background: #fff;
}
@media (max-width: 480px) {
  body {
    background: #fff;
  }
  main-content {
    padding: 44px 20px 20px 20px;
  }
}
menu signed-in,
menu sign-in,
modal {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 15px 20px;
  position: relative;
  width: 280px;
}
modal[image] {
  width: 100%;
  max-width: 480px;
}
menu signed-in > *,
menu sign-in > *,
modal > * {
  margin-bottom: 5px;
}
menu links {
  display: flex;
  flex-direction: column;
}
menu links a {
  text-decoration: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #999;
  position: relative;
}
menu links a[unread]::before {
  left: 6px;
}
menu toggle-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
menu toggle-wrapper[disabled] {
  opacity: .5;
}
menu toggle-wrapper toggle-button {
  display: flex;
  height: 30px;
  width: 50px;
  border-radius: 16px;
  background: #ddd;
  position: relative;
  transition: background .2s ease-in-out;
}
menu toggle-wrapper toggle-button toggle-circle {
  height: 28px;
  width: 28px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 1px;
  transition: left .2s ease-in-out;
}
menu toggle-wrapper[active] toggle-button {
  background: #4a5;
}
menu toggle-wrapper[active] toggle-button toggle-circle {
  left: 21px;
}
a[big] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-decoration: none;
  border-radius: 2px;
  border: 1px solid #4a5;
  color: #fff;
  background: #4a5;
  padding: 10px;
  font-weight: 700;
  letter-spacing: 1px;
}
modal-bg {
  display: flex;
  background: #00000077;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
}
input,
textarea {
  font-size: 14px;
  width: 240px;
  border-radius: 2px;
  border: 1px solid #26323e;
  padding: 10px;
}
button {
  cursor: pointer;
  font-size: 14px;
  -webkit-appearance: none;
  border-radius: 2px;
  border: 0;
  background: #26323e;
  border: 1px solid #26323e;
  color: #fff;
  padding: 10px;
  font-weight: 700;
  letter-spacing: 1px;
}
button[alt] {
  background: #f5f5f5;
  color: #26323e;
  border: 1px solid #999;
}
button[small] {
  padding: 2px 10px;
}
button[disabled],
button[faint] {
  opacity: 0.5;
}
pass,
info,
error {
  padding: 10px 10px 10px 36px;
  position: relative;
  background: #ffeeee;
  border: 1px solid #b66;
  color: #b66;
  border-radius: 2px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 500;
}
info[small] {
  padding: 5px 5px 5px 26px;
  font-size: 11px;
}
pass::before,
info::before,
error::before {
  content: "!";
  position: absolute;
  left: 10px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background: #b66;
  color: #ffeeee;
  font-size: 14px;
  font-weight: 700;
  height: 17px;
  width: 17px;
}
info[small]::before {
  height: 14px;
  width: 14px;
  left: 5px;
  top: 5px;
  font-size: 11px;
}
info {
  border-color: #48c;
  background: #e0f0ff;
  color: #48c;
}
info::before {
  content: "i";
  background: #48c;
  color: #e0f0ff;
}
pass {
  border-color: #4a5;
  background: #f0fff0;
  color: #4a5;
}
pass::before {
  content: "✓";
  background: #4a5;
  color: #f0fff0;
}
error p {
  margin-top: 5px;
}
test-wrapper {
  margin-top: 20px;
}
test-wrapper error + info {
  margin-top: 10px;
}
test-wrapper + add-new {
  margin-top: 20px;
}
image-prompt {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
image-prompt textarea {
  width: 100%;
}
image-prompt > * {
  margin-top: 10px;
}
image-prompt + img {
  margin-top: 10px;
  width: 100%;
}
password-wrapper {
  display: flex;
  align-items: center;
}
password-wrapper input {
  width: 218px;
}
password-help {
  display: flex;
  align-items: center;
  padding: 10px 0 9px 5px;
}
password-help::before {
  content: "?";
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background: #48c;
  color: #e0f0ff;
  font-weight: 600;
  height: 17px;
  width: 17px;
}
modal {
  position: fixed;
  flex-direction: column;
  z-index: 5;
  top: 44px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  border-radius: 2px;
  box-shadow: 0px 0px 5px #26323e;
  max-width: 480px;
  width: calc(100% - 20px);
}
add-new {
  display: flex;
  flex-direction: column;
}
add-new > * {
  margin-bottom: 5px;
}
add-new > *:last-child {
  margin-bottom: 0;
}
add-new input,
add-new textarea,
add-new button {
  width: 100%;
}
main-content add-new:first-child {
  margin-top: 20px;
}
title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
[img-icon] input {
  display: none;
}
[img-icon] {
  display: flex;
  border: 2px solid #26323e;
  border-radius: 4px;
  height: 25px;
  width: 30px;
  margin-left: 5px;
  position: relative;
  overflow: hidden;
}
[img-icon]::before {
  display: flex;
  content: "";
  border-top: 2px solid #26323e;
  border-left: 2px solid #26323e;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-radius: 4px;
  height: 20px;
  width: 20px;
  transform: rotate(45deg);
  position: absolute;
  top: 12px;
  left: -5px;
}
[img-icon]::after {
  display: flex;
  content: "";
  border: 2px solid #26323e;
  border-radius: 50%;
  height: 3px;
  width: 3px;
  position: absolute;
  top: 2px;
  right: 2px;
}
image-previews {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
image-previews preview {
  border: 1px solid #26323e;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: calc(25% - (15px / 4) );
  margin-right: 5px;
}
image-previews preview:last-child {
  margin-right: 0;
}
image-previews preview remove-icon {
  position: absolute;
  top: 1px;
  right: 1px;
  display: flex;
  border-radius: 50%;
  background: #26323e;
  font-weight: 600;
  height: 25px;
  width: 25px;
}
image-previews preview remove-icon::before,
image-previews preview remove-icon::after {
  content: "";
  position: absolute;
  width: 15px;
  border: 1px solid #fff;
  border-radius: 4px;
  transform: rotate(45deg);
  top: 11px;
  left: 4px;
}
image-previews preview remove-icon::after {
  transform: rotate(-45deg);
}
image-previews preview img {
  max-height: 100px;
  max-width: 100%;
}
[add-new-comment] {
  padding: 10px 0;
}
[add-new-comment] button {
  width: 100%;
}
comments {
  display: flex;
  flex-direction: column;
}
comments[thread] {
  margin-top: 20px;
}
comment {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 10px;
}
comments > comment {
  margin-bottom: 20px;
}
comments comment:last-child {
  margin-bottom: 0;
}
comment comment {
  margin-top: 10px;
}
comment p {
  margin-top: 5px;
}
comment pass,
comment info {
  margin-top: 10px;
}
comment info b {
  margin-bottom: 5px;
}
comments > add-new:first-child {
  padding: 10px;
  border: 1px solid #ddd;
  margin: 20px 0 10px 0;
}
comments > add-new:not(:first-child) {
  margin: 0 0 20px 0;
  border: 1px solid #ddd;
  border-radius: 2px;
  margin-bottom: 20px;
  padding: 10px;
}
articles > add-new:first-child {
  padding: 20px 0;
  margin-bottom: -20px;
}
comment add-new {
  margin-top: 10px;
}
reply-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 10px;
}
display-name-wrapper {
  padding-bottom: 5px;
  flex: 1;
}
expand-wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  margin: 0 0 -10px 0;
  position: relative;
}
expand-wrapper[above-comments] {
  margin: 0 0 10px 0;
}
expand-wrapper[collapse] {
  flex-direction: row;
  justify-content: center;
}
back-forward-wrapper {
  display: flex;
  justify-content: space-between;
}
read-more-wrapper,
share-wrapper,
forward-wrapper,
back-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0 0 0;
  min-height: 18px;
  position: relative;
}
read-more-wrapper {
  margin: 0;
  white-space: nowrap;
}
share-wrapper:only-child,
forward-wrapper:only-child {
  justify-content: flex-end;
  flex: 1;
}
read-more-wrapper button,
share-wrapper button,
forward-wrapper button,
back-wrapper button,
expand-wrapper button {
  background: #fff;
  border-color: #fff;
  position: relative;
  padding: 6px;
}
share-wrapper button {
  padding: 7px 9px;
}
share-wrapper button::before {
  content: "";
  border: 1.5px solid #26323e;
  border-top: 1.5px solid transparent;
  border-radius: 2px;
  height: 4px;
  width: 16px;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: .5;
}
share-wrapper button::after {
  content: "↑";
  position: absolute;
  color: #26323e;
  opacity: .5;
  font-size: 21px;
  font-weight: 400;
  top: -11px;
  right: 1px;
}
share-wrapper info {
  position: absolute;
  top: 23px;
  right: 0;
  display: none;
  max-width: unset;
  white-space: nowrap;
  z-index: 1;
}
share-wrapper info[show] {
  display: flex;
  animation: fade-out .5s ease-in-out 1 3.5s;
}
forward-wrapper button::before,
back-wrapper button::before,
[expand-left]::before,
[expand-right]::before,
[expand-down]::before,
[expand-up]::before {
  content: "";
  border-top: 1.5px solid #26323e;
  border-left: 1.5px solid #26323e;
  border-right: 1.5px solid transparent;
  border-bottom: 1.5px solid transparent;
  height: 16px;
  width: 16px;
  position: absolute;
  top: 3px;
  left: calc(50% - 9px);
  transform: rotate(45deg);
  opacity: .5;
}
[expand-down]::before {
  top: -10px;
  transform: rotate(-135deg);
}
[expand-left]::before {
  transform: rotate(-45deg);
  height: 10px;
  width: 10px;
  top: 5px;
  left: calc(50% - 10px);
}
[expand-right]::before {
  transform: rotate(135deg);
  height: 10px;
  width: 10px;
  top: 5px;
  left: calc(50% - 3px);
}
read-more-wrapper [expand-right]::before,
forward-wrapper [expand-right]::before,
back-wrapper [expand-left]::before {
  transform: rotate(-45deg);
  top: 0;
  left: 2px;
  height: 10px;
  width: 10px;
}
read-more-wrapper [expand-right]::before,
forward-wrapper [expand-right]::before {
  transform: rotate(135deg);
  left: -4px;
}
all-clear-wrapper p,
read-more-wrapper p,
share-wrapper p,
forward-wrapper p,
back-wrapper p,
expand-wrapper p {
  font-size: 11px;
  font-weight: 600;
  margin: 0 0 5px 0;
  opacity: .5;
  text-align: center;
}
all-clear-wrapper p {
  margin: 20px 0;
  text-align: center;
}
read-more-wrapper p {
  margin: 0;
}
expand-wrapper p[comments] {
  position: absolute;
  right: 0;
  top: 10px;
}
expand-wrapper[above-comments] p {
  text-align: left;
  margin: 0;
}
expand-wrapper button + p {
  margin-top: 5px;
}
read-more-wrapper p,
share-wrapper p,
forward-wrapper p,
back-wrapper p {
  margin: 0 5px;
  text-align: left;
}
read-more-wrapper p,
share-wrapper p,
forward-wrapper p {
  text-align: right;
}
notifications {
  display: flex;
  flex-direction: column;
}
notifications notification {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
  position: relative;
}
notifications notification summary {
  font-size: 11px;
}
notifications h3 {
  margin-top: 20px;
}
articles {
  display: flex;
  flex-direction: column;
}
activities activity,
articles article {
  padding-bottom: 21px;
  position: relative;
}
activities activity::before,
articles article::before {
  content: "";
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #ddd;
}
articles-loading {
  display: none;
  flex-direction: column;
  animation: loading 1.5s ease-in-out infinite;
}
articles-loading h2 {
  background: #ddd;
  width: 80%;
  height: 32px;
}
articles-loading p {
  display: flex;
  flex-direction: column;
  width: 100%;
}
articles-loading p::before,
articles-loading p::after {
  content: "";
  display: block;
  width: 100%;
  border-top: 16px solid #ddd;
  border-bottom: 16px solid #ddd;
  height: 10px;
}
articles-loading p::after {
  margin-top: 10px;
  width: 33%;
  border-bottom: none;
}
activities {
  display: flex;
  flex-direction: column;
}
activity > h2 {
  font-size: 11px;
  margin-bottom: 5px;
}
activity > article h2 {
  margin-top: 0;
}
activity > [parent-comment] {
  background: #f5f5f5;
}
activity > [parent-comment] comment {
  background: #fff;
}
@keyframes loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
[flash-focus] {
  animation: flash-focus .5s ease-in 1;
}
[flash-long-focus] {
  animation: flash-long-focus 2s ease-in 1;
}

@keyframes flash-focus {
  0% {
    box-shadow: 0 0 5px #0061fe;
  }
  100% {
    box-shadow: none;
  }
}
@keyframes flash-long-focus {
  0% {
    box-shadow: 0 0 5px #0061fe;
  }
  75% {
    box-shadow: 0 0 5px #0061fe;
  }
  100% {
    box-shadow: none;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}